/* BODY */
body {
    background-color: #574242;
    color: #fff;
}

/* NAV BAR */
.navbar {
    background-color: #725858b3 !important;
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #b38c8c !important;
}

.navbar-nav .nav-link i {
    font-size: 1.5rem;
    color: #fff;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover i {
    color: #b38c8c;
}

/* ALIGN LOGO AND NAME */
.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    margin-right: 10px;
}

.navbar-brand h3 {
    margin: 0;
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*SKILLS SECTION*/

.skill {
    margin: 20px 0;
}

.circle {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: conic-gradient(#d8a4a4 0%, #5a3e3e var(--percent), #ffffff var(--percent), #ffffff 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle .inside {
    position: absolute;
    width: 90px;
    height: 90px;
    background-color: #574242;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.percent {
    font-size: 18px;
}
